[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "==0.58.0"
uvicorn = "*"
alembic = "*"
passlib = "*"
tenacity = "*"
email-validator = "*"
python-jose = "*"
python-dotenv = "*"
psycopg2-binary = "*"
emails = "*"
celery = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"
